*{
  margin : 0%;
  padding : 0%;
  box-sizing : border-box;
  font-family :'Courier New', Courier, monospace;
  font-weight: 600;
}

html,
body,
#root{
  height : 100%;
  width : 100%; 
}
main {
  background-color: rgb(30, 29, 29);
}

 input,
textarea {
  caret-color: white;
} 

main{
  height : 100%;
  width : 100%;
  padding : 1rem;
  display : flex;
  gap : 1rem;
}

main .left ,
main .right{
  height : 100%;
  flex-basis  : 50%;
  border-radius : 0.7rem;
}

main .left{
  background-color: #131212;
  position: relative;
  overflow : hidden;
}

.code {
  color: #e5e7eb;
  caret-color: white;
  padding: 1rem;
  line-height: 1.5;

}

.editor {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.6;
  padding: 12px;
  caret-color: white;
  white-space: pre-wrap;
}


.left .code{
  height : 100%;
  width : 100%;
  margin : 0;
  border-radius: 0.7rem;
  line-height: 1.6;        
  padding: 1rem;
  white-space: pre-wrap;
  caret-color: #ffffff;
}

main .left .review{
  position : absolute;
  bottom : 1rem;
  right : 1rem;
  background-color: rgb(197, 197, 200);
  color : #000000;
  padding : 0.5rem 2rem;
  font-weight : 500;
  cursor : pointer;
  user-select : none;
  border-radius : 0.7rem;
  font-weight: bolder;
  font-size :large
}

main .right {
  background-color: #424242;
}